#img-bg{
    background-image: url('https://i.imgur.com/d5bMdDJ.jpg');

    min-height: 695px;

    background-position: center;
    background-repeat: no-repeat; /*A imagem não se repet no espaço*/
    background-size: cover; /*A imagem preenche todo o espaço disponível*/
}